/* ===== Reset de base ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 30px; 
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

/* ===== Header ===== */
header {
    background-color: #1e1e2f;
    color: #fff;
    padding: 20px 0px 0px 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 5px;
    margin: 0px 40px;
}

header img {
    width: 100px;
    margin: 20px 40px 10px 40px;
}

header h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
    margin: 0px 40px 20px 40px;
}

header nav {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header nav a {
    display: inline-block;
    width: 25%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border: 1px solid rgb(50, 50, 78);
    box-shadow: 0px 0 15px rgba(80, 80, 126, 0.6);
    background-color: #1e1e2f;
    font-weight: 500;
    transition: color 0.3s, background-color 0.3s;
}

header nav a:hover {
    color: #ffae00;
    background-color: #292942;
}

/* ===== Sections ===== */
section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
    scroll-margin-top: 140px;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #1e1e2f;
    border-bottom: 2px solid #ffae00;
    display: inline-block;
    padding-bottom: 5px;
}

/* ===== A propos de nous ===== */
#aboutme div {
    margin-bottom: 40px;
    background: #fff;
    border-radius: 12px;
    padding: 20px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

#aboutme div:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

#aboutme strong {
    display: block;
    margin: 10px 0;
    font-size: 1.1rem;
    color: #1e1e2f;
}

#aboutme p {
    margin-bottom: 15px;
    padding-left: 25px;
}

/* ===== Portfolio ===== */
.portfolio div {
    margin-bottom: 40px;
}

/* Chaque projet */
.project {
    margin-bottom: 100px;
}

/* Conteneur images  <= c est ici que tu change le groupe d image de chaque projet */ 
.pictures {
    position: relative;
    cursor: pointer;
    margin: 10px 0;
    background-color: #f8f7f7;
    border: 5px solid rgba(255, 174, 0, 0.08);
    border-radius: 8px;
}

.pictures img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: 5px solid rgba(0,0,0,0.02);
    border-radius: 8px;
    transition: transform 0.2s, opacity 0.5s ease-in-out;
}

.pictures img:hover {
    transform: translateX(-50%) scale(1.05);
}

.pictures img.first {
    position: relative;
    opacity: 1;
    z-index: 0;
}
.pictures img:not(.first) {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.password_generator .pictures img {
    max-width: 500px;
}

/*.pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
    align-items: flex-start;
}*/

/* Image de Messagerie instantanée : 3 images par ligne */
/*.instant_messaging .pictures img {
    flex: 1 1 100%;
    height: auto;
    min-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}*/

/* Image de Générateur de mot de passe : 2 images par ligne */
/*.password_generator .pictures img {
    flex: 1 1 calc(50% - 10px);
    width: 100%;
    height: auto;
    max-width: 500px;   
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}*/

/* Hover effect pour toutes les images */
/*.pictures img:hover {
    transform: scale(1.05);
}*/



/* ===== Services ===== */
#services ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#services li {
    background-color: #fff;
    padding: 20px;
    flex: 1 1 250px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

#services li:hover {
    transform: translateY(-5px);
}

/* ===== Contact ===== */
#contact .contact_form p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#contact .contact_form #contact_slogan {
    cursor: pointer;
}

#contact p a {
    color: #1e1e2f;
    text-decoration: underline;
}

#contact p a:hover {
    color: #ffae00;
}

#contact #contactForm {
    overflow: hidden;
    max-height: 4rem;
    transition: max-height 1s ease-in-out;
}

#contact #contactForm.expended {
    max-height: 500px;
}

#contact .contact_form {
    margin-top: 30px;
    background: #fff;
    border-radius: 12px;
    padding: 20px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0,0,0,0.05);
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    background: #f5f5f5;
    border-radius: 8px;
    padding: 20px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0,0,0,0.05);
}

form * {
    height: 5vh;
}

form input {
    padding-left: 10px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;

    outline: none;
    transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

form input:focus {
    border-color: rgba(255, 174, 0, 0.8);
    box-shadow: 0 0 5px rgba(255, 174, 0, 0.3);
}

form input:hover {
    border-color: rgba(255, 174, 0, 0.3);
}

form button {
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;

    outline: none;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

form button:hover {
    background-color: rgba(255, 174, 0, 0.3);
    box-shadow: 0 0 5px rgba(255, 174, 0, 0.3);
    cursor: pointer;
}

#contact .contact_alt {
    margin-top: 30px;
    color: #616161;
}

#contact .contact_alt h3 {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 8px;
}

#contact .contact_alt p {
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 30px;
    margin-bottom: 0;
}

/* ===== Footer ===== */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e2f;
    color: #fff;
    margin-top: 40px;
}

/* Le cas ou l ecran ou la taille du site mesure une taille specifique */
/* ===== Responsive ===== */
@media screen and (max-width: 768px) {
    .instant_messaging .pictures img,
    .password_generator .pictures img {
        flex: 1 1 100%;
    }

    #services ul {
        flex-direction: column;
    }

    #contact #contactForm {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.5s ease;
}
}

@media screen and (max-width: 480px) {
    .instant_messaging .pictures img,
    .password_generator .pictures img {
        flex: 1 1 100%;
        max-width: 100%; /* annule la limite sur mobile */
    }
}
